RewriteEngine On
RewriteBase /gestor_academia_mvc/

RewriteCond %{REQUEST_URI} ^/gestor_academia_mvc/test/$
RewriteRule ^(.*)$ public/test.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Options -Indexes
DirectoryIndex public/index.php
RewriteRule ^(.*)$ public/index.php [L]

# Línea 1: activamos Apache server’s runtime rewriting engine
# Línea 2: limitamos el acceso a archivos físicos
# DirectoryIndex: redirigimos las peticiones a index.php